Q1) The output is 6. a is defined as a global variable. since it is defined globally , it can be modified using another function c(a).  So the first call returns 2.The next calls value of 'a' becomes 4 and in the next one it become 6. It worked only because 'a' is defined as a global variable.

In [1]:
a = 0
def b():
 global a
 a = c(a)
def c(a):
 return a + 2

b()
b()
b()
a

6

Q2)

In [2]:
def file_length(file_name):
    try:
        file = open(file_name)
        contents = file.read()
        file.close()
        print(len(contents))
    except:
        print("file "+file_name+" not found!")
file_length("idterm.py")

file idterm.py not found!

Q3)

In [4]:
class Marsupial:
    def __init__(self):
        self.a=[]
    def put_in_pouch(self,content):
        self.a.append(content)
    def pouch_contents(self):
        return self.a

        
m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
m.pouch_contents()

['doll', 'firetruck', 'kitten']

In [5]:
class Marsupial:
    def __init__(self):
        self.a=[]
    def put_in_pouch(self,content):
        self.a.append(content)
    def pouch_contents(self):
        return self.a

class Kangaroo(Marsupial):
    def __init__(self,x,y):
        Marsupial.__init__(self)
        self.x=x
        self.y=y
    def Jump(self,dx,dy):
        self.x+=dx
        self.y+=self.y+dy
    def __str__(self):
        return("I am a Kangaroo located at coordinates ({},{})".format(self.x,self.y))
        
m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
m.pouch_contents()

k = Kangaroo(0,0)
print(k) 
k.put_in_pouch('doll') 
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
k.pouch_contents()
k.Jump(1,0)
k.Jump(1,0)
k.Jump(1,0)
print(k)

I am a Kangaroo located at coordinates (0,0)
I am a Kangaroo located at coordinates (3,0)

Q4)

In [9]:
def collatz(x):
    if(x != 1):
        print(x ,end ='\n')
    if(x == 1):
        print(x ,end ='\n')
        return x
    if(x%2 == 0):
        x = x // 2
        collatz(x)
    else:
        x= 3*x + 1
        collatz(x)
collatz(10)

10
5
16
8
4
2
1

Q5)

In [13]:
dec_binary =""
def binary (n):
    global dec_binary
    if(n!=1):
        if(n==0):
            print("0")
        else:
            temp=""
            remainder = int(n%2)
            #print(remainder)
            temp =str(remainder)
            dec_binary+=temp
            #print(temp)
            n =int(n/2)
            binary(n)
    else:
        dec_binary +="1"
        dec_binary = dec_binary [::-1] 
        print(dec_binary)
        dec_binary=""
        
binary(0)
binary(1)
binary(3)
binary(9)

0
1
11
1001

Q6)

In [20]:
from urllib.parse import urljoin
from html.parser import HTMLParser
from urllib.request import urlopen

h1='False'
h2='False'
class HeadingParser(HTMLParser):  
    def handle_starttag(self, tag, attributes):
        if tag == 'h1':
            global h1
            h1 = "True"
            
        if tag == 'h2':
            global h2
            h2 = "True"
        
    def handle_endtag(self, tag):
        if h1 == "False":
            pass
        
        if h2 == "False":
            pass
        
    def handle_data(self, data):
        global h1,h2
        
        if h1 == "True":
            print(data)
            h1='False'    
        
        if h2 == "True":
            print(' ',end='')
            print(data)
            h2 = 'False'

infile = open('w3c.html') 
content = infile.read() 
infile.close() 
hp = HeadingParser() 
hp.feed(content)

W3C Mission
 Principles

Q7)

In [83]:
from urllib.request import urlopen
from urllib.parse import urljoin
from html.parser import HTMLParser

class Collect(HTMLParser):

    def __init__(self, giv_URL):
        
        HTMLParser.__init__(self)
        self.givenURL = giv_URL
        self.availableLinks = []

    def handle_starttag(self, tag, attrs):
        if tag == 'a':
            for attr in attrs:          
                if attr[0] == 'href': 
                    absolute = urljoin(self.givenURL, attr[1])
                    if absolute[:4] == 'http':
                        self.availableLinks.append(absolute)

    def getLinks(self):
        return self.availableLinks
    
    
    
Links = []
def webdir(giv_URL,depth,ind):
    global Links
    resource = urlopen(giv_URL)
    content = resource.read().decode()
    collect = Collect(giv_URL)
    collect.feed(content)
    Links = collect.getLinks()
    print(ind*" " + giv_URL)
    if depth == 0:
         return 
    for i in Links: 
        webdir(i, depth-1, ind+1)    
            
#Calling Webdir Function
webdir('http://reed.cs.depaul.edu/lperkovic/test1.html',2,0)

http://reed.cs.depaul.edu/lperkovic/test1.html
 http://reed.cs.depaul.edu/lperkovic/test2.html
  http://reed.cs.depaul.edu/lperkovic/test4.html
 http://reed.cs.depaul.edu/lperkovic/test3.html
  http://reed.cs.depaul.edu/lperkovic/test4.html

Q8)

In [65]:
import sqlite3
sqliteConnection = sqlite3.connect('akshay.db')
cur = sqliteConnection.cursor()
cur.execute("CREATE TABLE weather (City text, Country text, Season text, Temperature float, Rainfall float)")
lst=[('Mumbai', 'India','Winter',24.8, 5.9),('Mumbai','India','Spring',28.4,16.2),('Mumbai','India','Summer',27.9,1549.4),
     ('Mumbai','India','Fall',27.6,346.0),('London','United Kingdom','Winter',4.2,207.7),
     ('London','United Kingdom','Spring',8.3,169.6),('London','United Kingdom','Summer',15.7,157.0),
     ('London','United Kingdom','Fall',10.4,218.5),('Cairo','Egypt','Winter',13.6,16.5),('Cairo','Egypt','Spring',20.7,6.5),
     ('Cairo','Egypt','Summer',27.7,0.1),('Cairo','Egypt','Fall',22.2,4.5)]
for i in lst:
    cur.execute("INSERT INTO weather VALUES (?,?,?,?,?)",i)
    sqliteConnection.commit()
sqliteConnection.close()
sqliteConnection = sqlite3.connect('akshay.db')
cur = sqliteConnection.cursor()
cur.execute('SELECT * FROM weather')
for i in cur :
    print(i)

('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 27.6, 346.0)
('London', 'United Kingdom', 'Winter', 4.2, 207.7)
('London', 'United Kingdom', 'Spring', 8.3, 169.6)
('London', 'United Kingdom', 'Summer', 15.7, 157.0)
('London', 'United Kingdom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Winter', 13.6, 16.5)
('Cairo', 'Egypt', 'Spring', 20.7, 6.5)
('Cairo', 'Egypt', 'Summer', 27.7, 0.1)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)

8a)

In [67]:
cur.execute('SELECT Temperature FROM weather')
cur.fetchall()

[(24.8,),
 (28.4,),
 (27.9,),
 (27.6,),
 (4.2,),
 (8.3,),
 (15.7,),
 (10.4,),
 (13.6,),
 (20.7,),
 (27.7,),
 (22.2,)]

8b)

In [68]:
cur.execute('SELECT DISTINCT City from weather');
cur.fetchall()

[('Mumbai',), ('London',), ('Cairo',)]

8c)

In [69]:
cur.execute('SELECT * FROM weather WHERE Country ="India" ')
cur.fetchall()

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0)]

8d)

In [70]:
cur.execute('SELECT * FROM weather WHERE Season ="Fall" ')
cur.fetchall()

[('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

8e)

In [71]:
cur.execute('SELECT * FROM weather WHERE Rainfall BETWEEN 200 AND 400')
cur.fetchall()

[('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Winter', 4.2, 207.7),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5)]

8f)

In [72]:
cur.execute('SELECT City,Country FROM weather WHERE Season="Fall" AND Temperature>20 ORDER BY Temperature ASC  ')
cur.fetchall()

[('Cairo', 'Egypt'), ('Mumbai', 'India')]

8g)

In [73]:
cur.execute('SELECT SUM(Rainfall) FROM weather WHERE City="Cairo" ')
cur.fetchall()

[(27.6,)]

8h)

In [74]:
cur.execute('SELECT SUM(Rainfall) FROM weather GROUP BY Season ')
cur.fetchall()

[(569.0,), (192.29999999999998,), (1706.5,), (230.1,)]

Q9

In [85]:
l1 =['The','quick','brown','fox','jumps','over','the','lazy','dog']

l2 = [name.upper() for name in l1]
print("a) ",end=" ")
print(l2)

l3 = [name.lower() for name in l1]
print("b) ",end=" ")
print(l3)
l4=[]
for i in l1:
    l4.append(len(i))
print("c) ",end=" ")
print(l4)

listall=[]
for i in l1:
    length=len(i)
    cap=i.upper()
    small = i.lower()
    listn=[]
    listn.append(cap)
    listn.append(small)
    listn.append(length)
    listall.append(listx)
print("d) ",end=" ")
print(listall)

l5=[]
for i in l1:
    if len(i)>=3:
        l5.append(i)
print("e) ",end=" ")
print(l5)

a)  ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']
b)  ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
c)  [3, 5, 5, 3, 5, 4, 3, 4, 3]
d)  [['DOG', 'dog', 3], ['DOG', 'dog', 3], ['DOG', 'dog', 3], ['DOG', 'dog', 3], ['DOG', 'dog', 3], ['DOG', 'dog', 3], ['DOG', 'dog', 3], ['DOG', 'dog', 3], ['DOG', 'dog', 3]]
e)  ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']